@font-face {
  font-family: 'Berkshire Swash';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/berkshireswash/v6/4RZJjVRPjYnC2939hKCAigPd3B1x2G-B3iFVpRu072s.woff2) format('woff2');
}
@font-face {
  font-family: 'Bungee Shade';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/bungeeshade/v3/HSW7pxPYXBWkq7OSnuXoeBampu5_7CjHW5spxoeN3Vs.woff2) format('woff2');
}
@font-face {
  font-family: 'Frijole';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/frijole/v6/HGLC0PR3yjkozK-KG-GKywLUuEpTyoUstqEm5AMlJo4.woff2) format('woff2');
}
@font-face {
  font-family: 'IM Fell English SC';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/imfellenglishsc/v7/h3Tn6yWfw4b5qaLD1RWvz42h98mvhWxavXjDrYiMZUY.woff2) format('woff2');
}
@font-face {
  font-family: 'Press Start 2P';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/pressstart2p/v6/8Lg6LX8-ntOHUQnvQ0E7o69WAFmVxfVhVkWhl-QDeAk.woff2) format('woff2');
}
@font-face {
  font-family: 'Rye';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/rye/v5/o7MyuMGcMTnn6UYZzZledg.woff2) format('woff2');
}
